* {margin:0; padding:0;}
 
body {
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
}
 
.menu-wrap {
	background-color:#53bd84; 
	height:50px; 
	line-height:50px; 
	position:relative;
	width:80%;
	margin:auto;
	margin-top:80px;
}
 
.menu-wrap ul {
	list-style:none;
}
 
.menu-wrap ul li a {
	float:left; 
	width:150px; 
	display:block; 
	text-align:center; 
	color:#FFF; 
	text-decoration:none; 
	text-transform:uppercase;
}
 
.menu-wrap ul li a:hover {
	background-color:#666; 
	display:block;
}
 
.menu-wrap ul li:hover ul {
	display:block;
}
 
.menu-wrap ul ul {
	display:none; 
	list-style:none; 
	position:absolute; 
	background-color:#53bd84;
	left:300px; 
	top:50px; 
	width:190px;
}
 
.menu-wrap ul ul li a {
	float:none; 
	display:block; 
	padding-left:30px; 
	text-align:left; 
	width:160px;
}
 
.menu-wrap ul ul li a:hover {
	color:#fff;
}

.isi{
	text-align: justify;
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 2%;
}

.galery {
    margin-top: 5%;
    margin-left: 10%;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
}
div.galery:hover {
    border: 1px solid #777;
}
div.galery img {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 20px;
    text-align: center;
}